/*En esta parte me creo un pequeño recordatorio de los elementos que usaré
constantemente en la parte visual CSS de la web
font-family: 'Montserrat', sans-serif;
Botones, hover: `#FF00BF`
 - Fondo de `footer`: `#333447`
 - Título del formulario: `#352384`
 - Texto del formulario: `#728099`
 - Gradiente morado: `linear-gradient(#76278F, #2B1E66);
 */

.loading {
  background: linear-gradient(to bottom right,#50025D, #E60A89);
  height: 502px;
}

#logo {
  background-size: cover;
  height: 120px;
  margin-top: 60%;
}
